 

body{
    background-color: lightblue;
    
    width: 100%;
    height: 100%;

  }

.container-fluid{
  background-color: rgb(119, 182, 199);
  
}

.form-control{
  margin-bottom: 10px;
}
.btn{
  margin-bottom: 10px;
  align-items: center;
}
.dropdown-menu{
  background-color: rgb(119, 182, 199);
}

.card-body{
  background-color: rgb(179, 203, 209);
}
.card-head{
  background: linear-gradient(to top right,rgb(70, 120, 229),rgb(52, 58, 180));
}
 